body {
  height: 100vh;
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  position: relative;
}

.todo_input {
  background-color: transparent;
  color: white;
  width: 16rem;
  height: 2rem;
  border: none;
  border-bottom: 2px white solid;
  outline: none;
  text-align: center;
}

.todo_input::placeholder {
  color: white;
}

.delete_btn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
}
