body {
  height: 100vh;
  background-color: black;
  position: relative;
  cursor: none;
}

.target {
  position: absolute;
}

.line {
  position: absolute;
  background-color: white;
}

.horizontal {
  width: 100%;
  height: 1px;
  position: absolute;
}

.vertical {
  position: absolute;
  width: 1px;
  height: 100%;
}

.coordinate {
  position: absolute;
  font-size: 38px;
  color: white;
  margin: 20px;
}
